* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #f2f2f2;
  font-family: "Arima Madurai", cursive, "Open Sans"; }

main h1 {
  font-size: 36px; }

main h2 {
  font-size: 28px; }

main h3 {
  font-size: 20px; }

a img {
  width: 60px; }
  a img:hover {
    transform: scale(1.1); }

.bg-go-2 {
  background: #f2f2f2; }

.bg-go-3 {
  background: #f2f2f2; }

.text-color-1 {
  color: #f2f2f2; }

.text-color-2 {
  color: #6c585a; }

.text-color-3 {
  color: #f2f2f2; }

.nav-link {
  color: #f71515;
  transition: all 0.25s; }
  .nav-link:hover {
    color: #fa4012cf;
    transform: translateY(-5px);
    transition: all 0.25s; }

@media screen and (max-width: 767px) {
  .navbar-collapse {
    background-color: #0f0e10;
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 0px;
    width: 100%; } }

footer a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.25s; }
  footer a:hover {
    color: #fa4012cf;
    transition: all 0.25s; }

body .animacion {
  transition: all 3s; }

body .animacion:hover {
  transform: rotateY(360deg) scale(1.2); }
