body {
    section {
      .galeria {
        background-color: $colorPrincipal;
    
      .animacion {
        transition: all 3s;
     
      &:hover {
        transform: rotateY(360deg) scale(1.2);
      }
    }
  } 
 }
}