footer {
  .footer-bottom__copy{
    a {
      text-decoration: none;
      transition: all 0.25s;
  
    &:hover {
      color: $colorfooterHover !important;
      transition: all 0.25s;
      }
    }
  }
}