header {
.nav-link {
    transition: all 0.25s;
  
    &:hover {
      color: $colorPrincipalHover !important;
      transform: translateY(-5px);
      transition: all 0.25s;
    }
  }
.nav-buttom {
  &:hover {
    background-color: $colorCuater !important;
    color: white !important;
    border: $colorPrincipalHover !important;
    transition: all 0.25s;
    }
  }
  
}